---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section id="Hero" class="max-w-7xl mx-auto grid grid-cols-[40%_1fr]">
    <div>Test</div>
    <div>Test</div>
  </section>
</Layout>
